.image-section { /* Changed class name */
    position: relative;
    height: 100vh; 
    overflow: hidden;
    z-index: 1000;
}

.background-image { /* New class for the image */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1000;
}

.content {
    position: relative;
    text-align: center;
    z-index: 1; /* Ensure content is on top of the image */
    padding: 20px;
    color: var(--sec-color); /* Secondary color for text */
    text-align: left;
    width: 100%;
    margin-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    z-index: 1000;
}

.content h1 {
    font-size: 4rem;
    margin: 0;
    text-align: center;
    z-index: 1000;
}

.content p {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    z-index: 1000;
}

#viseoParagraph {
    font-size: 5rem;
    margin: 20px;
    color: var(--sec-color);
}

.vlogoDiv{
    width: 100%;
    display: flex;
    justify-content: start;
}

.vidLogo{
    width: 10rem;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .background-image { /* Adjusting the image on mobile */
        height: auto;
    }

    .content{
        margin-top: 0.5px;
        max-height: 15rem;
    }

    .content h1 {
        font-size: 1.5rem;
        margin: 0;
        text-align: center;
    }
    
    .content p {
        font-size: 0.75rem;
        margin: 0;
        text-align: center;
    }

    .image-section { /* Adjust height on mobile */
        height: 50vh;
    }
}